@import "tailwindcss";
@import "@heroui/styles";

body {
  font-family: var(--font-nunito);
  background-color: #f5edfc;
}
.heading-font {
  font-family: var(--font-bebas-neue);
}
.text-dark {
  color: #112a46;
}
